<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<% if (user.role === 'admin') { %>
  <a href="/admin" class="btn btn-primary mr-2">Admin Dashboard</a>
<% } %>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
